@import "src/app/styles/mulpx-palette";
@import "src/app/styles/main";

:host {
  display: block;
  position: relative;
}

.info {
  margin-bottom: 106px;

  .icon-wrapper {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background: map-get($mulp-x-primary, 500);

    mat-icon {
      font-size: 31px;
    }
  }

  p {
    @include common-text-style(700, 24px, 29px);
  }
}

.close {
  width: 100%;
  padding: 15px;
  @include common-text-style(400, 18px, 22px);
}

.close-top {
  position: absolute;
  right: 0;
  top: -35px;
}
