<div class="top" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="15px">
  <h1 fxLayout fxLayoutAlign="start center">Dashboard</h1>
  <ng-select [items]="options" class="keyboard-arrow-down" fxFlex.lt-sm placeholder="Filters"></ng-select>
</div>
<div class="details" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div *ngFor="let item of mainDetails" class="card-container" fxFlex="20%" fxFlex.lt-lg="33.3333%" fxFlex.lt-md="50%"
       fxFlex.lt-sm="100%">
    <mat-card>
      <button class="send" mat-icon-button>
        <mat-icon svgIcon="send"></mat-icon>
      </button>
      <button class="options" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <ng-template #amount>
        <p [matTooltip]="(item.balance | currency: 'NGN': 'symbol-narrow')!" class="amount"
           matTooltipPosition="above">{{item.balance}}</p>
      </ng-template>
      <p *ngIf="item.currency; else amount;" [matTooltip]="(item.balance | currency: 'NGN': 'symbol-narrow')!"
         class="amount"
         matTooltipPosition="above">{{item.balance | currency:"NGN": 'symbol-narrow'}}</p>
      <div class="footer" fxLayout fxLayoutAlign="space-between">
        <p [matTooltip]="item.label" class="sub" matTooltipPosition="above">{{item.label}}</p>
        <button mat-icon-button>
          <mat-icon svgIcon="max-speed"></mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>

<mat-divider class="other-separator"></mat-divider>

<div class="other" fxLayout>
  <div fxFlex>
    <app-quick-links></app-quick-links>
  </div>
  <mat-divider class="other-separator" inset vertical></mat-divider>
  <div fxFlex>
    <app-recent-activities></app-recent-activities>
  </div>
  <mat-divider class="other-separator" inset vertical></mat-divider>
  <div fxFlex>
    <app-overview></app-overview>
  </div>
</div>
