@import "src/app/styles/variables";
@import "src/app/styles/main";

:host {
  flex: 1 1 auto;
  background: #FFF;
  border-radius: 30px;
  padding: 32px;
  display: block;
}

.top {
  margin-bottom: 24px;

  ng-select {
    min-width: 150px;
    @media only screen and (max-width: 423px) {
      & {
        margin-top: 10px;
      }
    }
  }

  h1 {
    @include common-text-style(800, 24px, 24px);
    margin: 0;
  }
}

.details {
  mat-card {
    width: 100%;
    border-radius: 20px;
    background-color: map-get($mulp-x-primary, 500);

    .send {
      margin-left: -10px;
      margin-bottom: 15px;

      mat-icon {
        width: 26px;
        height: 26px;
      }
    }

    .options {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #FFF;

      mat-icon {
        font-size: 20px;
      }
    }

    .footer, .amount {
      color: #FFF;
    }

    .footer {
      overflow: hidden;

      .sub {
        color: $sub-color;
        @include common-text-style(400, 10px, 10px);
        margin: 0;
        letter-spacing: 0.02rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;

        &:hover {
          cursor: pointer;
        }
      }

      button {
        position: absolute;
        bottom: 5px;
        right: 5px;
      }

      mat-icon {
        width: 17px;
        height: 17px;
      }
    }

    .amount {
      @include common-text-style(800, 24px, 24px);
      margin-bottom: 8px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 80%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.other-separator {
  margin: 24px 0;

  &[vertical] {
    margin: -24px 24px 0;
  }
}
