<div class="sidebar-container">
  <div class="profile" fxLayout="column nowrap" fxLayoutAlign="center center">
    <img alt="Profile picture" src="assets/images/profile-pix.png">
    <p class="name">Kelvin Dimeji</p>
    <p class="title">Product Designer</p>
  </div>
  <div class="navigation" fxLayout="column nowrap" fxLayoutGap="17px">
    <div *ngFor="let item of navLinks" [routerLink]="item.link" class="nav-item" fxLayout fxLayoutGap="11px"
         routerLinkActive="active">
      <ng-template #noSvg>
        <mat-icon class="icon material-icons-outlined">{{item.icon}}</mat-icon>
      </ng-template>
      <mat-icon *ngIf="item.isSvg; else noSvg;" [svgIcon]="item.icon" class="icon"></mat-icon>
      <span class="description" fxLayout fxLayoutAlign="center center">{{item.name}}</span>
    </div>
  </div>
  <div class="refer-container">
    <div class="refer" fxLayout="row wrap">
      <div class="text-content" fxFlexAlign="end" fxLayout="column nowrap" fxLayoutGap="6px">
        <p>Refer a friend</p>
        <sub>Get 500 naira referral bonus</sub>
        <button mat-button mat-flat-button>Refer now</button>
      </div>
    </div>
  </div>
</div>
