@import "src/app/styles/main";

:host {
  margin-right: 30px;
  min-width: max-content;
}

.sidebar-container {
  background-color: #FFF;
  border-radius: 30px;
  height: calc(100vh - 78px - 4rem);
  min-height: 70vh;

  .profile {
    padding: 2rem;

    img {
      width: 83px;
      height: 83px;
      border-radius: 100%;
      margin-bottom: 12px;
    }

    .name {
      @include common-text-style(500, 18px, 18px);
    }

    .title {
      color: $text-fade-color;
      @include common-text-style(400, 12px, 12px);
    }
  }

  .navigation {
    position: relative;

    .nav-item {
      cursor: pointer;
      padding: 5.5px 2rem;

      &.active {
        padding-left: 27px;
        border-left: 5px solid map-get($mulp-x-accent, 500);

        .description {
          color: map-get($mulp-x-accent, 500);
        }

      }

      &:hover:not(.active) {
        transform: scale(1.05);
        transition: transform 0.2s linear;

        .description {
          color: $text-fade-dark-color;
        }
      }

      .description {
        color: $text-fade-color;
        @include common-text-style(400, 12px, 12px);
        vertical-align: center;
      }

      .icon {
        color: $text-fade-color;
      }
    }
  }

  .refer-container {
    margin-top: 40px;
    position: relative;
    padding: 45px 12px 0;
    background: url('/assets/images/refer-friend.png') no-repeat bottom 56px center / 60% 55%, url('/assets/images/green-rect.png') no-repeat center / cover content-box;

    .refer {
      padding: 12px;
      background: linear-gradient(180deg, rgba(13, 186, 156, 0) 0%, #0DBA9C 63.8%);
      border-radius: 14px;
      box-shadow: 50px 100px 100px rgba(0, 0, 0, 0.04);
      width: 100%;
      height: 117px;

      .text-content {
        filter: drop-shadow(20px -40px 10px rgba(0, 0, 0, 0.04));

        p {
          color: #FFF;
          margin: 0;
          @include common-text-style(500, 12px, 12px);
        }

        sub {
          color: $sub-color;
          @include common-text-style(400, 10px, 10px);
        }

        button {
          height: 20px;
          width: 53px;
          padding: 0 10px;
          @include common-text-style(400, 8px, 8px);

          &:not(.disabled) {
            background: #E2574C;
          }

          color: #FFF;
        }
      }
    }
  }
}
