<button [mat-dialog-close]="null" class="close" mat-icon-button>
  <mat-icon>close</mat-icon>
</button>
<div class="top" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="10px">
  <div class="left" fxLayout="column">
    <h1>Send money</h1>
    <p>Your loved ones can receive their funds without leaving the house.</p>
  </div>
  <img alt="Making a transaction" fxFlex="30%" fxFlex.lt-md="100%" fxFlexOffset.lt-md="15px"
       src="assets/images/transaction.png">
</div>
<form #fundForm="ngForm" (ngSubmit)="submit()" fxLayout="column nowrap">
  <label for="amountCtrl">Amount</label>
  <mat-form-field appearance="outline" class="send-money-input">
    <input #amountCtrl="ngModel" [(ngModel)]="amount" [max]="data.balance" id="amountCtrl" matInput min="100"
           name="amountCtrl" required type="number">
    <div fxLayout fxLayoutGap="12px" matPrefix><span>N</span>
      <mat-divider [vertical]="true"></mat-divider>
    </div>
    <mat-error *ngIf="fundForm.invalid && fundForm.dirty">{{getErrorMessage(amountCtrl)}}</mat-error>
  </mat-form-field>
  <button [disabled]="fundForm.invalid || isSending" color="primary"
          mat-flat-button>{{isSending ? 'Sending...' : 'Send'}}
    <mat-icon *ngIf="isSending">
      <mat-spinner color="primary" diameter="20"></mat-spinner>
    </mat-icon>
  </button>
</form>
