<div class="header-container" fxLayout fxLayoutAlign="space-between center">
  <div class="header-left" fxFlex fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="30px">
    <div class="logo" fxLayout fxLayoutAlign="center center">
      <button (click)="toggleNav()" class="menu" color="primary" fxHide.gt-sm mat-fab>
        <mat-icon>menu</mat-icon>
      </button>
      <img alt="Mulp-x Logo" src="assets/images/logo.svg">
    </div>
    <mat-form-field appearance="outline" class="search-input padding-bottom-0" fxFlex="600px" fxFlex.lt-md
                    fxFlex.md>
      <input matInput type="text">
      <mat-label>Search</mat-label>
      <mat-icon class="search-icon" matPrefix svgIcon="search"></mat-icon>
    </mat-form-field>
  </div>
  <div class="info" fxHide.lt-md fxLayout fxLayoutAlign="space-between" fxLayoutGap="19px">
    <div [ngClass]="{'has-notification': hasNotification}" class="info-wrapper">
      <button mat-icon-button>
        <mat-icon svgIcon="bell"></mat-icon>
      </button>
    </div>
    <div [ngClass]="{'has-chat': chatHasMessage}" class="info-wrapper">
      <button mat-icon-button>
        <mat-icon svgIcon="chat-support"></mat-icon>
      </button>
    </div>
    <div class="info-wrapper">
      <button mat-icon-button>
        <mat-icon svgIcon="settings"></mat-icon>
      </button>
    </div>
  </div>
</div>
