.send-money-dialog {
  .mat-dialog-container {
    border-radius: 20px;
    padding-bottom: 35px;
  }
}

.transaction-dialog {
  .mat-dialog-container {
    border-radius: 20px;
  }
}

.notification-dialog {
  .mat-dialog-container {
    border-radius: 20px;
    padding-bottom: 35px;
  }
}
