@import "src/app/styles/variables";

.keyboard-arrow-down {
  .ng-arrow {
    display: none !important;
  }

  .ng-arrow-wrapper {
    background-image: url("/assets/images/keyboard-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
  }
}

.ng-placeholder {
  color: #000 !important;
}
