@import "src/app/styles/variables";
@import "~@ng-select/ng-select/themes/default.theme.css";
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: $main-bg-color;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('assets/fonts/Neue Haas Unica W06 Regular.ttf') format("opentype");
}

@font-face {
  font-family: 'Söhne Test';
  src: url('assets/fonts/TestSöhne-Buch.otf') format("opentype");
}
